.btn {
  color: $mainTextColorBtn;
  background-color: $mainBgColorBtn;
  border: 1px solid $mainBorderColorBtn;

  &_orange {
    border: none;
    color: $secondTextColorBtn;
    background-color: $secondBgColorBtn;
  }
}

