.about-developer {
  position: relative;
  background-color: $sectionBg;
  background-image: url("../img/developer-foto-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-top: -12px;

  @media(max-width: 1200px) {
    background-image: none;
    margin-top: 0;
  }

  &__flying-tag-braces {
    @include flyingTagsGradient;
    top: 0.7%;
    left: 7%;
    transform: rotate(27deg);
    font-size: 48px;
    
    @media(max-width: 1200px) {
      top: 3%;
      left: 14%;
    }

    @media(max-width: 1024px) {
      top: 7.7%;
      left: 19.3%;
      font-size: 25px;
    }
  }

  &__flying-tag-lattice {
    @include flyingTagsGradient;
    top: 36.3%;
    left: 13%;
    transform: rotate(17deg);
    font-size: 55px; 

    @media(max-width: 1200px) {
      top: 77.5%;
      left: 12.2%;
    }

    @media(max-width: 1024px) {
      top: 25.3%;
      left: 16%;
      font-size: 28px;
    }
  }

  &__flying-tag-slash {
    @include flyingTagsGradient;
    top: 83.9%;
    left: 19.7%;
    transform: rotate(-21deg);
    font-size: 43px; 

    @media(max-width: 1200px) {
      top: 70.1%;
      left: 37.1%;
    }

    @media(max-width: 1024px) {
      top: 4.7%;
      left: 52.7%;
      font-size: 21px;
      transform: rotate(-27deg);
    }
  }
  
  &__flying-tag-div-up {
    @include flyingTagsGradient;
    top: 5.7%;
    left: 41.1%;
    transform: rotate(-13deg);
    font-size: 30px;
    
    @media(max-width: 1200px) {
      top: 2%;
      left: 81%;
    }

    @media(max-width: 1024px) {
      top: 15.2%;
      left: 73.4%;
      font-size: 16px;
      transform: rotate(20deg);
    }
  }

  &__flying-tag-div-down {
    @include flyingTagsGradient;
    top: 64.2%;
    left: 49.6%;
    transform: rotate(21deg);
    font-size: 36px;

    @media(max-width: 1200px) {
      top: 64.7%;
      left: 79.8%;
    }

    @media(max-width: 1024px) {
      display: none;
    }
  }

  &__flying-tag-slash-tablet {
    display: none;

    @media(max-width: 1200px) {
      @include flyingTagsGradient;
      display: block;
      top: 14.7%;
      left: 42.5%;
      transform: rotate(14deg);
      font-size: 46px;
    }

    @media(max-width: 1024px) {
      display: none;
    }
  }
  
  &__inner {
    display: flex;
    margin: auto;

    @media(max-width: 1200px) {
      background-image: url("../img/developer-foto-bg-tablet.png");
      background-repeat: no-repeat;
      background-position: bottom right;
    }

    @media(max-width: 1024px) {
      flex-direction: column-reverse;
      align-items: center;
      background-image: none;
    }
  }
    
  &__developer-foto {
    margin-right: -80px;
    margin-bottom: -4px;
    margin-top: 3px;

    @media (max-width: 1900px) {
      margin-right: 0;
    }

    @media(max-width: 1200px) {
      margin: -4px 0 0 0;
    }

    @media(max-width: 1024px){
      width: 320px;
      background-image: url("../img/developer-foto-bg-mobile.png");
      background-repeat: no-repeat;
      background-position: bottom right;
      padding: 81px 16px 0 73px;
    }
  }

  &__foto {
    @media(max-width: 1200px) {
      margin-bottom: -4px;
    }
  }
}

.developer-info {
  display: flex;
  justify-content: flex-start;
  padding-top: 158px;
  flex-grow: 1;

  @media(max-width: 1200px) {
    padding: 176px 0 0 0;
  }

  @media(max-width: 1024px) {

    padding-top: 12px;
    padding-left: 0;
  }

  &__inner {
    @media(max-width: 1200px) {
      margin-right: 0;
    }

    @media(max-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0;
    }
  }

  &__title {
    font-size: 80px;
    font-weight: 900;
    color: $mainTextColor;
    margin: 0 0 46px 0;

    @media(max-width: 1200px) {
      font-size: 54px;
    }

    @media(max-width: 1024px) {
      text-align: center;
      font-size: 30px;
      margin: 0 0 23px 0;
    }
  }

  &__skills {
    display: block;
    font-size: 25px;
    font-weight: 400;
    color: $secondTextColor;
    margin: 14px 0 0 0;

    @media(max-width: 1200px) {
      margin-top: 20px;
    }

    @media(max-width: 1024px) {
      font-size: 16px;
      margin: 8px 0 0 0;
      padding: 0 10px 0;
      line-height: 1.5;
    }
  }

  &__btn {
    padding: 21px 79px;

    @media(max-width: 1200px) {
      padding: 24px 103px;
    }

    @media(max-width: 1024px) {
      font-size: 16px;
      padding: 18px 83px;
    }
  }  
}
