.carousel {
  display: flex;
  flex-wrap: wrap;

  &__btn {
    position: absolute;
    top: 123px;
    right: -26px;
    width: 56px;
    height: 56px;
    background-image: url("../img/arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.07);
    border: none;
    border-radius: 50%;
    padding: 0;

    @media(max-width: 1250px) {
      right: -63px;
    }
  }

  &__btn_rotate_180 {
    transform: rotate(180deg);
  }

  &__btn_position {
    left: 1144px;

    @media(max-width: 1250px) {
      left: 1068px;
    }
  }
  &__btn-list {
    position: relative;

    @media(max-width: 1200px) {
      display: none;
    }
  }

  &__list {
    display: flex;

    @media(max-width: 1200px) {
      // padding: 0 38px 0;
      margin-bottom: 100px;
    }

    @media(max-width: 1024px) {
      padding: 0;
      margin-bottom: 40px;
    }
  }

  &__item {
    margin: 0 30px 0 0;

    @media(max-width: 1250px) {
      margin-right: 10px;
    }

    @media(max-width: 1200px) {
      margin-right: 37px;
    }

    @media(max-width: 1024px) {
      // padding: 0 19px 0;
    }
  }

  &__item:first-child {
    @media(max-width: 1024px) {
      // display: none;
    }
  }

  &__item:last-child {
    margin-right: 0;

    @media(max-width: 1200px) {
      // display: none;
    }
  }

  &__item:nth-child(2) {
    @media(max-width: 1200px) {
      margin-right: 0;
    }
  }

  &__text {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: $textCarousel;
    margin-top: 30px;

    @media(max-width: 1200px) {
      font-size: 25px;
      font-weight: 500;
      margin-top: 15px;
    }

    @media(max-width: 1024px) {
      font-size: 18px;
      margin-top: 13px;
    }
  }

  &__btn-slider-list {
    display: none;

    @media(max-width: 1200px) {
      display: flex;
      margin: auto;
    }
  }

  &__btn-slider {
    width: 18px;
    height: 18px;
    background-color: $btnSliderBgColor;
    border-radius: 50%;
    border: none;

    @media(max-width: 1024px) {
      width: 10px;
      height: 10px;
    }
  }

  &__btn-slider:hover {
    background-color: $btnSliderBgColorHover;
  }

  &__btn-slider-item {
    @media(max-width: 1200px) {
      margin-right: 30px;
    }

    @media(max-width: 1024px) {
      margin-right: 16px;
    }
  }

  &__btn-slider-item:last-child {
    @media(max-width: 1200px) {
      margin-right: 0;
    }

    @media(max-width: 1024px) {
      margin-right: 0;
    }
  }
}



.swiper-container {
  border: 2px solid red;

  width: 1200px;

  @media(max-width: 1200px) {
    width: 1024px;
  }

  @media(max-width: 1024px) {
    width: 320px;
  }
}
















