.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__btn {
    position: absolute;
    top: 141px;
    width: 61px; 
    height: 60px;
    background: url("../img/css_sprites.png") -185px -181px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.07);
    border: none;
    border-radius: 50%;
    padding: 0;
  }

  &__btn_rotate_180 {
    transform: rotate(180deg);
  }

  &__btn_position {
    left: 1180px;

    @media(max-width: 1260px) {
      left: 1100px;
    }
  }
  &__btn-list {
    position: relative;
    align-self: flex-start;
    margin-left: -38px;

    @media(max-width: 1260px) {
      margin-left: 0;
    }

    @media(max-width: 1200px) {
      display: none;
    }
  }

  &__list {
    display: flex;

    @media(max-width: 1200px) {
      margin-bottom: 126px;
    }

    @media(max-width: 1024px) {
      padding: 0;
      margin-bottom: 40px;
    }
  }

  &__item {
    @media(max-width: 1024px) {
      margin-bottom: 26px;
    }
  }

  &__text {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: $textCarousel;
    margin-top: 30px;

    &:hover {
      color: $mainTextColorBtn;
    }

    @media(max-width: 1200px) {
      font-size: 25px;
      font-weight: 500;
      margin-top: 15px;
    }

    @media(max-width: 1024px) {
      font-size: 18px;
      margin-top: 13px;
    }
  }

  &__btn-slider-list {
    display: none;

    @media(max-width: 1200px) {
      display: flex;
      margin: auto;
    }
  }

  &__btn-slider {
    width: 18px;
    height: 18px;
    background-color: $btnSliderBgColor;
    border-radius: 50%;
    border: none;

    @media(max-width: 1024px) {
      width: 10px;
      height: 10px;
    }
  }

  &__btn-slider:hover {
    background-color: $btnSliderBgColorHover;
  }

  &__btn-slider-item {
    @media(max-width: 1200px) {
      margin-right: 30px;
    }

    @media(max-width: 1024px) {
      margin-right: 16px;
    }
  }

  &__btn-slider-item:last-child {
    @media(max-width: 1200px) {
      margin-right: 0;
    }

    @media(max-width: 1024px) {
      margin-right: 0;
    }
  }
}



.swiper-container {
  width: 1170px;

  @media(max-width: 1200px) {
    width: 947px;
  }

  @media(max-width: 1024px) {
    width: 282px;
  }
}

.swiper-pagination-bullet {
  width: 18px;
  height: 18px;

  @media(max-width: 1024px) {
    width: 10px;
    height: 10px;
  }
}


.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 4px 14px;

  @media(max-width: 1024px) {
    margin: 0 8px;
  }
}

.swiper-container-horizontal>.swiper-pagination-bullets {
  left: auto;
  width: auto;
}

.swiper-pagination-bullet {
  background-color: $btnSliderBgColor;
}

.swiper-pagination-bullet-active {
  background-color: $btnSliderBgColorHover;
}













