.contacts {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-style: normal;

  @media(max-width: 1200px) {
    margin-top: 6px;
  }

  @media (max-width: 1024px) {
    font-size: 20px;
    color: $secondTextColor;
    margin: 0 0 23px;
  }

  &__phone {
    display: flex;
    letter-spacing: 1px;
    @include bgLeftNoRepeat;
    margin-bottom: 28px;

    &:hover {
      color: $mainTextColorBtn;
    }

    &::before {
      display: block;
      content: "";
      width: 18px; 
      height: 18px;
      background: url("../img/css_sprites.png") -353px -10px;
      margin-top: 5px;
      margin-right: 20px;

      @media(max-width: 1024px) {
        width: 13px; 
        height: 13px;
        background: url("../img/css_sprites.png") -353px -48px;
      }
    }

    @media(max-width: 1024px) {
      margin-bottom: 20px;
    }
  }


  &__email {
    display: flex;
    @include bgLeftNoRepeat;

    &:hover {
      color: $mainTextColorBtn;
    }

    &::before {
      display: block;
      content: "";
      width: 23px; 
      height: 15px;
      background: url("../img/css_sprites.png") -248px -275px;
      margin-top: 10px;
      margin-right: 20px;

      @media(max-width: 1024px) {
        width: 14px; 
        height: 10px;
        background: url("../img/css_sprites.png") -353px -81px;
        // line-height: 1.5;
      }
    }
  }
}