.example-projects {
  background-color: $sectionBg;

  @media(max-width: 1024px) {
    padding-bottom: 50px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $sectionBg;
    padding-top: 46px;
    padding-bottom: 103px;

    @media(max-width: 1200px) {
      padding: 47px 0 101px;
    }

    @media(max-width: 1024px) {
      padding-top: 43px;
      padding-bottom: 0;
    }
  }

  &__title {
    font-size: 54px;
    font-weight: 700;
    color: $titleColor;
    margin: 40px auto 99px;

    @media(max-width: 1024px) {
      text-align: center;
      font-size: 30px;
      padding: 0 10px 0;
      margin: 0 0 38px 0;
    }
  }

  &__carousel {
    margin-bottom: 97px;

    @media(max-width: 1024px) {
      margin-bottom: 40px;
    }
  }

  &__btn {
    padding: 20px 72px;

    @media(max-width: 1200px) {
      padding: 25px 98px;
    }

    @media(max-width: 1024px) {
      font-size: 16px;
      padding: 19px 78px;
    }
  }
}
