
.menu__item {
  margin-right: 28px;
  border-bottom: 1px solid transparent;

  &:hover {
    color: $menuTextColor;
    border-bottom: 1px solid $menuTextColor;
  }

  &:last-child {
    margin-right: 0;
  }

  &-footer {
    font-size: 18px;
    color: $secondTextColor;
    margin-bottom: 10px;
  }

  &-footer:last-child {
    font-size: 18px;
    margin-bottom: 0;

    @media (max-width: 1024px) {
      margin-bottom: 15px;
    }
  }
}
