@media(max-width: 1200px) {

  .menu-open {
    .header__menu {
      display: flex;
    }

    .header__menu-btn {
      width: 32px;
      height: 32px;
      background: url("../img/css_sprites.png") -156px -275px;
    }
  }
}

@media (max-width: 1024px) {
  .menu-open {
    .header__menu-btn {
      width: 20px; 
      height: 20px;
      background: url("../img/css_sprites.png") -208px -275px;
      
    }
  }
}
