.social-networks {
  display: flex;

  &__network-item-link {
    margin-right: 20px;
  }

  &__network-item-link:last-child {
    margin-right: 0;
  }

  &__network-link {
    display: block;
    width: 35px;
    height: 30px;
    background: url("../img/css_sprites.png");
  }

  &__network-link_VK {
    background-position: -24px -20px;
  }

  &__network-link_FB {
    background-position: -79px -20px;
  }

  &__network-link_Twit {
    background-position: -133px -20px;
  }

  &__network-link_Insta {
    background-position: -188px -20px;
  }

}

