.about-developer {
  display: flex;
  background-color: #fbfbfb;
  max-width: 1920px;
  margin: auto;
}

.developer-info__inner {
  margin-right: 6px;
}

.developer-info {
  display: flex;
  justify-content: flex-end;
  padding-top: 144px;
  flex-grow: 1;
}

.developer-info__title {
  font-size: 80px;
  font-weight: 900;
  color: #1f1f24;
  margin: 0 0 45px 0;
}

.developer-info__skills {
  display: block;
  font-size: 25px;
  font-weight: 400;
  color: #8993ad;
  margin: 14px 0 0 0;
}

.btn {
  font-size: 18px;
  border: none;
  color: #ffffff;
  background-color: #ff4e2e;
  padding: 20px 60px;
}

.developer-info__btn {
  padding: 20px 71px;
}

.developer-foto {  
  background-image: url("../img/developer-foto-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 0 297px 0 84px;
}




@media(max-width: 1200px) {
  .about-developer {
    width: 1024px;        
  }

  .developer-info {
    padding: 169px 0 0 39px;
    justify-content: flex-start;
  }

  .developer-info__inner {
    margin-right: 0;
  }

  .developer-info__title {
    font-size: 54px;
  }

  .developer-info__skills {
    margin-top: 20px;
  }

  .developer-info__btn {
    padding: 24px 97px;
  }

  .developer-foto {
    background-image: url("../img/developer-foto-bg-tablet.png");
    padding: 0px 41px 0 0px;
  }

}



@media(max-width: 1024px) {
  .about-developer {
  width: 320px;
  flex-direction: column-reverse;
  align-items: center;
}

  .developer-foto {
    width: 320px;
    background-image: url("../img/developer-foto-bg-mobile.png");
    padding: 90px 0px 0px 77px;  
  }

  .developer-info {
    padding-top: 12px;
    padding-left: 0;
  }

  .developer-info__btn {
    padding: 17px 76px;
  }

  .developer-info__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .developer-info__title {
    text-align: center;
    font-size: 30px;
    margin: 0 0 22px 0;
  }

  .developer-info__skills {
    font-size: 16px;
    margin: 8px 0 0 0;
    padding: 0 10px 0;
    line-height: 1.5;
  }
}