.about-developer {
  display: flex;
  background-color: #fbfbfb;
  max-width: 1920px;
  margin: auto;
}

.developer-info__inner {
  margin-right: 6px;
}

.developer-info {
  display: flex;
  justify-content: flex-end;
  padding-top: 144px;
  flex-grow: 1;
}

.developer-info__title {
  font-size: 80px;
  font-weight: 900;
  color: #1f1f24;
  margin: 0 0 45px 0;
}

.developer-info__skills {
  display: block;
  font-size: 25px;
  font-weight: 400;
  color: #8993ad;
  margin: 14px 0 0 0;
}

.btn {
  font-size: 18px;
  border: none;
  color: #ffffff;
  background-color: #ff4e2e;
  padding: 20px 60px;
}

.developer-info__btn {
  padding: 20px 71px;
}

.developer-foto {  
  background-image: url("../img/developer-foto-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 0 297px 0 84px;
}

.foto {
  margin-top: -12px;
}



@media(max-width: 1200px) {
  .about-developer {
    width: 1024px;        
  }

  .btn {
    padding: 24px 84px;
  }

  .developer-foto {
    background-image: url("../img/developer-foto-bg-tablet.png");
    padding: 221px 184px 0 84px;  
  }

  .foto {
   
  }
}