.direction-of-development {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 99px;
  padding-bottom: 103px;
}

.direction-of-development__title {
  font-size: 54px;
  font-weight: 700;
  color: #262626;
  margin: 0 0 93px 0;
}

.direction-of-development__inner {
  display: flex;
  margin-bottom: 96px;
}

.direction-of-development__skill {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.direction-of-development__text {
  font-size: 20px;
  color: #8993ad;
  text-align: center;
  margin-top: 24px;
}
