.direction-of-development {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 84px;
  padding-bottom: 103px;
}

.direction-of-development__title {
  font-size: 54px;
  font-weight: 700;
  color: #262626;
  margin: 0 0 89px 0;
}

.direction-of-development__list-skills {
  display: flex;
  margin-bottom: 102px;
  justify-content: space-between;
}

.direction-of-development__skill-item {
  width: 260px;
  font-size: 20px;
  color: #8993ad;
  text-align: center;
}

.direction-of-development__link-layout {
  display: block;
  background-image: url("../img/skill_img_landing.png");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 93px;
}

.direction-of-development__link-adaptive {
  display: block;
  background-image: url("../img/skill_img_responsive.png");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 93px;
}

.direction-of-development__link-front {
  display: block;
  background-image: url("../img/skill_img_frontend.png");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 93px;
}

.direction-of-development__link-correction {
  display: block;
  background-image: url("../img/skill_img_coding.png");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 93px;
}




@media(max-width: 1200px) {

  .direction-of-development__title {
    margin-right: 27px;
  }

  .direction-of-development__list-skills {
    flex-wrap: wrap;
    padding: 0 150px 0;
  }

  .direction-of-development__skill-item:first-child {
    margin-bottom: 90px;
  }


}

@media(max-width: 1024px) {

  .direction-of-development {
    padding-top: 40px;
    padding-bottom: 44px;
  }

  .direction-of-development__title {
    font-size: 30px;
    margin-right: 0;
    margin-bottom: 46px;
  }

  .direction-of-development__list-skills {
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .direction-of-development__skill-item {
    font-size: 16px;
    margin-bottom: 54px;
  }

  .direction-of-development__skill-item:first-child {
    margin-bottom: 48px;
  }

  .direction-of-development__link-layout {
    display: block;
    background-image: url("../img/skill_img_landing_mobile.png");
    padding-top: 70px;
    line-height: 1.5;

  }
  
  .direction-of-development__link-adaptive {
    display: block;
    background-image: url("../img/skill_img_responsive_mobile.png");
    padding-top: 70px;
    line-height: 1.5;

  }
  
  .direction-of-development__link-front {
    display: block;
    background-image: url("../img/skill_img_frontend_mobile.png");
    padding-top: 70px;
    line-height: 1.5;

  }
  
  .direction-of-development__link-correction {
    display: block;
    background-image: url("../img/skill_img_coding_mobile.png");
    padding-top: 70px;
    line-height: 1.5;

  }

}
