.example-projects {
  background-color: #fbfbfb;

  border: 2px solid yellow;
}

.example-projects__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbfb;
  padding-top: 43px;
  padding-bottom: 102px;
}

.example-projects__title {
  font-size: 54px;
  font-weight: 700;
  color: #262626;
  margin: 40px auto 99px;
}

.example-projects__carousel {
  margin-bottom: 97px;
}

.example-projects__btn {
  padding: 20px 65px;
}




@media(max-width: 1200px) {

  .example-projects__inner {
    padding: 47px 0 101px;
  }

  .example-projects__btn {
    padding: 24px 90px;
  }
}




@media(max-width: 1024px) {

  .example-projects__inner {
    padding-top: 43px;
    padding-bottom: 0;
  }

  .example-projects {
    padding-bottom: 50px;
}

  .example-projects__title {
    text-align: center;
    font-size: 30px;
    padding: 0 10px 0;
    margin: 0 0 38px 0;
  }

  .example-projects__carousel {
    margin-bottom: 45px;
  }

  .example-projects__btn {
    font-size: 16px;
    padding: 19px 78px;
  }
}