.example-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbfb;
  padding-top: 43px;
  padding-bottom: 102px;
}

.example-projects__title {
  text-align: center;
  font-size: 54px;
  font-weight: 700;
  color: #262626;
  margin-bottom: 99px;
}

.example-projects__carousel {
  margin-bottom: 97px;
}


@media(max-width: 1200px) {
  .example-projects {
    width: 1024px;
    margin: auto;
  }

}

