.footer__inner  {
  display: flex;
  justify-content: space-between;
  padding: 80px 30px 78px 15px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  margin-right: 82px;
}

.footer__menu-item {
  font-size: 18px;
  color: #8993ad;
  margin-bottom: 16px;  
}

.footer__menu-item:last-child {
  margin-bottom: 0;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}


.footer__phone {
  background-image: url("../img/icon-phone.png");
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 35px;
  margin-bottom: 30px;
}

.footer__email {
  background-image: url("../img/icon-mail.png");
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 35px;

}

.footer__btn {
  color: #f53f4f;
  padding: 10px 62px;
  background-color: transparent;
  border: 1px solid #f53f4f;
  margin-bottom: 30px;
}

.footer__social-networks {
  display: flex;
}

.footer__network-link {
  display: block;
  width: 35px;
  height: 30px;
  background-image: url("../img/sprite.png");
  margin-right: 18px;
}
.footer__network-link:last-child {
  margin-bottom: 0;
}

.footer__network-link_VK {
  background-position: -14px -10px;
}

.footer__network-link_FB {
  background-position: -69px -10px;
}

.footer__network-link_Twit {
  background-position: -123px -10px;
}

.footer__network-link_Insta {
  background-position: -178px -10px;
}

.copyright {
  display: flex;
  background-color: #31293c;
  padding: 32px 0;
  margin: 0;
}

.copyright__text {
  margin: auto;
  font-size: 16px;
  color: #ffffff;
}


@media(max-width: 1200px) {
  .footer {
    width: 1024px;
    margin: auto;
  }

  .footer__inner {
    padding: 106px 30px 80px 40px;
  }

  .footer__menu {
    margin-right: 39px;
  }

}

@media (max-width: 1024px) {
  .footer {
    width: 320px;
  }

  .footer__inner {
    flex-direction: column;
    padding: 46px 30px 80px 20px;
  }

  .footer__menu {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .footer__menu-item {
    font-size: 15px;
  }

  .footer__contacts {
    font-size: 20px;
    color: #8993ad;
  }

  .footer__phone {
    margin-bottom: 23px;
  }


}
