.header {
  background-color: #fbfbfb;
}

.header__inner {
  display: flex;
  align-items: center;
  padding: 30px 0 65px;
  
}

.header__menu {
  flex-grow: 1;
  color: #1f1f24;
}

.header__menu-item {
  margin-right: 28px;
  border-bottom: 1px solid transparent;
}

.header__menu-item:hover {
  color: #fc557c;
  border-bottom: 1px solid #fc557c;
}

.header__menu-item:last-child {
  margin-right: 0;
}

.header__phone {
  font-size: 25px;
  font-weight: 700;
  color: #1f1f24;
  margin-right: 30px;
}

.header__btn {
  color: #f53f4f;
  padding: 14px 40px;
  background-color: transparent;
  border: 1px solid #f53f4f;
}
