.header {
  background-color: #fbfbfb;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 65px;  
}

.header__menu {
  color: #1f1f24;
  margin-left: 15px;
}

.header__menu-btn {
  width: 45px;
  height: 32px;
  background-image: url("../img/menu-btn.png");
  background-color: transparent;
  border: none;
  display: none;

}

.header__menu-item {
  margin-right: 28px;
  border-bottom: 1px solid transparent;
}

.header__menu-item:hover {
  color: #fc557c;
  border-bottom: 1px solid #fc557c;
}

.header__menu-item:last-child {
  margin-right: 0;
}

.header__phone-btn-wrap {
  margin-right: 12px;
}

.header__phone {
  font-size: 25px;
  font-weight: 700;
  color: #1f1f24;
  margin-right: 30px;
}

.header__btn {
  color: #f53f4f;
  padding: 14px 40px;
  background-color: transparent;
  border: 1px solid #f53f4f;
}




@media(max-width: 1200px) {
  .header__inner {
    padding: 30px 27px 60px 40px;
  }

  .header__menu {
    display: none;
  }

  .header__menu-btn {
    display: block;
  }
}




@media(max-width: 1024px) {
  .header__inner {
    padding: 26px 20px 0px 20px;
  }

  .header__menu-btn {
    width: 24px;
    height: 18px;
    background-image: url("../img/menu-btn-mobile.png");
  }
  
  .header__phone-btn-wrap {
    display: flex;
    align-items: center;
    margin-right: 0;
  }

  .header__phone {
    font-size: 18px;
  }

  .header__btn {
    width: 26px;
    height: 26px;
    background-image: url("../img/btn-call-order.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;    
  }

  .header__btn-text {
    display: none;
  }
}


