.price {
  background-image: linear-gradient(13.0deg, #ff8f5a 26%, #ff2f96 73%);
  padding: 86px 0;
}

.price__inner {
  padding: 0 110px 0;
}

.price__text {
  font-size: 45px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 40px 0;
}

.price__small-text {
  font-size: 20px;  
  color: #ffffff;
  padding-right: 170px;
  margin: 0;
}