.social-networks {
  display: flex;

  &__network-item-link {
    margin-right: 20px;
  }

  &__network-item-link:last-child {
    margin-right: 0;
  }

  &__network-link {
    display: block;
    width: 35px;
    height: 30px;
    background-image: url("../img/sprite.png");
  }

  &__network-link_VK {
    background-position: -14px -10px;
  }

  &__network-link_FB {
    background-position: -69px -10px;
  }

  &__network-link_Twit {
    background-position: -123px -10px;
  }

  &__network-link_Insta {
    background-position: -178px -10px;
  }

}

