$mainTextColor: #1f1f24;
$secondTextColor: #8993ad;
$mainTextColorBtn: #f53f4f;
$mainBorderColorBtn: #f53f4f;
$secondTextColorBtn: #ffffff;
$mainBgColorBtn: transparent;
$secondBgColorBtn: #ff4e2e;

$textCarousel: #8993ad;
$btnSliderBgColor: #ebebeb;
$btnSliderBgColorHover:#ff4e2e;

$copyrightBgColor: #31293c;
$copyrightTextColor: #ffffff;

$titleColor: #262626;